$tablet: 767px;
$laptop-medium: 1119px;
$laptop: 1440px;


.calculator__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calculator__top__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    margin-bottom: 40px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 50px;
    }

    @media screen and (max-width: $laptop-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 50px;
    }
}

.calculator__bottom__block {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;

    @media screen and (max-width: $laptop) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 32px;
    }

    @media screen and (max-width: $laptop-medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 32px;
    }

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-row-gap: 32px;
    }

    input {
        width: 400px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #575757;

            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 136%;
            }
        }

        p {
            font-family: 'Nekst';
            font-style: normal;
            font-weight: 900;
            font-size: 54px;
            line-height: 90%;
            color: #333333;

            @media screen and (max-width: 767px) {
                font-size: 22px;
                line-height: 20px;
            }
        }
    }
}

.styled__btn {
    background: #ff9514;
    border-radius: 40px;
    font-family: 'Nekst';
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    padding: 14px 0;
    cursor: pointer;
    color: #ffffff;

    &:hover {
        background: #111111;
    }

    &:focus {
        background-color: #575757;
    }

    &:disabled,
    [disabled] {
        background-color: #ff951466;
        cursor: default;
    }

    @media screen and (max-width: 767px) {
        font-size: 22px;
        line-height: 20px;
    }
}